body {
    background-image: white;
    
}
html{
    min-height: 100%;
}

p {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.description, 
.definition, 
.pillars,
.footer-bottom,
.terms {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
h1{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
       }
}
nav{
    border-radius: 25px;
}
      

.footer-bottom {
    padding-top: 100px;  
    font-size: 80%;      
}

.footer-logo{
    font-size: 180%;          
}

.footer-bottom a:link, 
.footer-bottom a:hover,
.footer-bottom a:active,
.footer-bottom a:visited{    
    text-decoration: none;
    color:black; 
}

.privacy-menu{
    list-style-type: none;
}

.copyright{
    padding-top:5em;
    text-align: center;
}
